@model IEnumerable<EventManagement.Models.AddtoCart>

@{
    ViewBag.Title = "Index";
}

<h2>Cart Items</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anniversary.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthdaytable.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.babyshowertable.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BachelorParty.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CocktailParty.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reunion.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wedding.id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Anniversary.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birthdaytable.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.babyshowertable.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BachelorParty.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CocktailParty.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reunion.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wedding.id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
