@model EventManagement.ViewModel.CartViewModel

@{
    ViewBag.Title = "Cart";
}

<p>Welcome to EventPulse, @User.Identity.Name</p>
<p>Welcome to EventPulse, @User.Identity.IsAuthenticated</p>

@if (Model.birthdaytable.Any() || Model.babyshowertable.Any() || Model.Anniversary.Any() || Model.BachelorParty.Any() || Model.CocktailParty.Any() || Model.Wedding.Any() || Model.Reunion.Any())
{
    <h5 class="text-uppercase p-2 text-center">All Events</h5>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark text-black">
            <tr>
                <th>Event Type</th>
                <th>Event Date</th>
                <th>Location</th>
                <th>Cakes</th>
                <th>Theme</th>
                <th>Decorations</th>
                <th>Event Cost</th>
                <th>User ID</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bday in Model.birthdaytable)
            {
                int? userId = Session["UserId"] as int?;

                if (Session["UserId"] != null && Session["UserId"].ToString() == bday.bdayuserid.ToString())
                {
                    <tr>
                        <td>Birthday</td>
                        <td>@bday.bdaydatetime</td>
                        <td>@bday.bdaylocation</td>
                        <td>@bday.bdaycakes</td>
                        <td>@bday.bdaytheme</td>
                        <td>@bday.bdaydecorations</td>
                        <td>@bday.bdayeventcost</td>
                        <td>@bday.bdayuserid</td>

                        <td>
                            @Html.ActionLink("Delete", "Delete", "Birthday", new { id = bday.id }, null)
                        </td>

                    </tr>
                }
            }

            @foreach (var baby in Model.babyshowertable)
            {
                int? userId = Session["UserId"] as int?;

                if (Session["UserId"] != null && Session["UserId"].ToString() == baby.babyshoweruserid.ToString())
                {
                    <tr>
                        <td>Baby Shower</td>
                        <td>@baby.babyshowerdatetime</td>
                        <td>@baby.babyshowerlocation</td>
                        <td>@baby.babyshowercakes</td>
                        <td>@baby.babyshowertheme</td>
                        <td>@baby.babyshowerdecorations</td>
                        <td>@baby.babyshowereventcost</td>
                        <td>@baby.babyshoweruserid</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Babyshower", new { id = baby.id }, null)
                        </td>
                    </tr>
                }
            }

            @foreach (var anni in Model.Anniversary)
            {
                int? userId = Session["UserId"] as int?;

                if (Session["UserId"] != null && Session["UserId"].ToString() == anni.anniuserid.ToString())
                {
                    <tr>
                        <td>Anniversary</td>
                        <td>@anni.annidatetime</td>
                        <td>@anni.annilocation</td>
                        <td>@anni.annicakes</td>
                        <td>@anni.annitheme</td>
                        <td>@anni.annidecorations</td>
                        <td>@anni.annieventcost</td>
                        <td>@anni.anniuserid</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Anniversary", new { id = anni.id }, null)
                        </td>
                    </tr>
                }
            }

            @foreach (var bachelor in Model.BachelorParty)
            {
                int? userId = Session["UserId"] as int?;

                if (Session["UserId"] != null && Session["UserId"].ToString() == bachelor.bacheloruserid.ToString())
                {
                    <tr>
                        <td>Bachelor Party</td>
                        <td>@bachelor.bachelordatetime</td>
                        <td>@bachelor.bachelorlocation</td>
                        <td>@bachelor.bachelorcakes</td>
                        <td>@bachelor.bachelortheme</td>
                        <td>@bachelor.bachelordecorations</td>
                        <td>@bachelor.bacheloreventcost</td>
                        <td>@bachelor.bacheloruserid</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Bachelor", new { id = bachelor.id }, null)
                        </td>
                    </tr>
                }
            }

            @foreach (var cock in Model.CocktailParty)
            {
                int? userId = Session["UserId"] as int?;

                if (Session["UserId"] != null && Session["UserId"].ToString() == cock.cockuserid.ToString())
                {
                    <tr>
                        <td>Cocktail Party</td>
                        <td>@cock.cockdatetime</td>
                        <td>@cock.cocklocation</td>
                        <td>@cock.cockcakes</td>
                        <td>@cock.cocktheme</td>
                        <td>@cock.cockdecorations</td>
                        <td>@cock.cockeventcost</td>
                        <td>@cock.cockuserid</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Cocktail", new { id = cock.id }, null)
                        </td>
                    </tr>
                }
            }

            @foreach (var wedding in Model.Wedding)
            {
                int? userId = Session["UserId"] as int?;

                if (Session["UserId"] != null && Session["UserId"].ToString() == wedding.weddinguserid.ToString() && User.Identity.IsAuthenticated)
                {
                    <tr>
                        <td>Wedding</td>
                        <td>@wedding.weddingdatetime</td>
                        <td>@wedding.weddinglocation</td>
                        <td>@wedding.weddingcakes</td>
                        <td>@wedding.weddingtheme</td>
                        <td>@wedding.weddingdecorations</td>
                        <td>@wedding.weddingeventcost</td>
                        <td>@wedding.weddinguserid</td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "Wedding", new { id = wedding.id }, null)
                        </td>
                    </tr>
                }
            }

            @foreach (var reunion in Model.Reunion)
            {
                int? userId = Session["UserId"] as int?;

                <tr>
                    <td>Reunion</td>
                    <td>@reunion.reuniondatetime</td>
                    <td>@reunion.reunionlocation</td>
                    <td>@reunion.reunioncakes</td>
                    <td>@reunion.reuniontheme</td>
                    <td>@reunion.reuniondecorations</td>
                    <td>@reunion.reunioneventcost</td>
                    <td>@reunion.reunionuserid</td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "Reunion", new { id = reunion.id }, null)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="6">Total Cost:</th>
                <td>
                    @{
                        var totalCost = Model.birthdaytable.Sum(b => b.bdayeventcost) +
                                        Model.babyshowertable.Sum(b => b.babyshowereventcost) +
                                        Model.Anniversary.Sum(a => a.annieventcost) +
                                        Model.BachelorParty.Sum(b => b.bacheloreventcost) +
                                        Model.CocktailParty.Sum(c => c.cockeventcost) +
                                        Model.Wedding.Sum(w => w.weddingeventcost) +
                                        Model.Reunion.Sum(r => r.reunioneventcost);
                    }
                    ₹@totalCost
                </td>

            </tr>

            <tr>

                <th colspan="6">Prebooking:</th>
                <td>
                    @{
                        var halfamnt = totalCost / 2;
                    }
                    ₹@halfamnt
                </td>
            </tr>

            <tr>
                <td>
                    @Html.ActionLink("Paynow", "CreateOrder", "Payment", new { totalCost = totalCost }, new { @class = "btn" })
            </tr>

        </tfoot>
    </table>
}
else
{
    <p>No events found in the cart.</p>
}
