@model EventManagement.Models.Anniversary

@{
    ViewBag.Title = "AnniCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>




<div class="container mt-5 pt-5  ps-5 pe-5" style="background-color: #4d004d;color:white">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="font-style:italic">Reserve an Anniversary Celebration</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })



            <div class="form-group">
                @Html.LabelFor(model => model.annidecorations, "Find Your Decor Style", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("annidecorations", ViewBag.Decor as SelectList, "Decor", new { @class = "form-control", data_val_required = "Pick Your Decorations." })
                    @Html.ValidationMessageFor(model => model.annidecorations, "", new { @class = "text-danger" })
                </div>
            </div>

            <button type="button" class="btn buttons" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:black;width:50px;font-style:italic">
                <i class="fa-solid fa-eye"></i>
            </button>


            <div class="form-group">
                @Html.LabelFor(model => model.annitheme, "Decide on Your  Theme", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("annitheme", ViewBag.Theme as SelectList, "Themes", new { @class = "form-control", data_val_required = "Pick Your themes." })
                    @Html.ValidationMessageFor(model => model.annitheme, "", new { @class = "text-danger" })
                </div>
            </div>

            <button type="button" class="btn buttons" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="color:white;background-color:black;width:50px;font-style:italic">
                <i class="fa-solid fa-eye"></i>
            </button>



            <div class="form-group">
                @Html.LabelFor(model => model.annichairs, "Select the chairs ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.annichairs, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.annichairs, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.annitables, "Select the tables ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.annitables, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.annitables, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.annidatetime, "Pick your date and time ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.annidatetime, new { htmlAttributes = new { @class = "form-control " } })*@
                    <input type="datetime-local" class="" name="annidatetime" required />
                    @Html.ValidationMessageFor(model => model.annidatetime, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.annicakes, "Pick Your Dessert Delight", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("annicakes", ViewBag.Cake as SelectList, "Cakes ", new { @class = "form-control ", data_val_required = "Pick Your Dessert Delight ." })
                    @Html.ValidationMessageFor(model => model.annicakes, "", new { @class = "text-danger" })
                </div>
            </div>


            <button type="button" class="btn buttons" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="color:white;background-color:black;width:50px;font-style:italic">
                <i class="fa-solid fa-eye"></i>
            </button>

            <div class="form-group">
                @Html.LabelFor(model => model.annilocation, "Select your favv location", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("annilocation", ViewBag.Location as SelectList, "Locations", new { @class = "form-control", data_val_required = "Pick Your Location." })
                    @Html.ValidationMessageFor(model => model.annilocation, "", new { @class = "text-danger" })
                </div>
            </div>

            <button type="button" class="btn buttons" data-bs-toggle="modal" data-bs-target="#exampleModal3" style="color:white;background-color:black;width:50px;font-style:italic">
                <i class="fa-solid fa-eye"></i>
            </button>


            <div class="form-group">
                @Html.LabelFor(model => model.annibeverages, "Do you require food selection?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.annibeverages)
                        @Html.ValidationMessageFor(model => model.annibeverages, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.anniPhotography, "Do you require Photography selection?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.anniPhotography)
                        @Html.ValidationMessageFor(model => model.anniPhotography, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.anniStyling, "Do you require styling selection?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.anniStyling)
                        @Html.ValidationMessageFor(model => model.anniStyling, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.anniHospitality, "Do you require hospitality selection?", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.anniHospitality)
                        @Html.ValidationMessageFor(model => model.anniHospitality, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 text-white pb-5">
                    <input type="submit" value="Curate your anniversary event" class="btn btn-default" style="color:white;background-color:black;width:250px;font-style:italic" id="createtoast" />
                </div>
            </div>
        </div>
    }


</div>




@section Scripts{

    <script>
        var today = new Date().toISOString().slice(0, 16);
        document.getElementsByName("annidatetime")[0].min = today;
    </script>



    <script type="text/javascript">
        $(function () {
            $("#createtoast").click(function () {
                toastr.success("Successfully Created", "Create", { Timeout: 4000 });
            });
        })
    </script>



}





<style>
    .control-label {
        font-style: italic;
        margin-top: 10px;
    }

    .form-group {
        margin-top: 30px;
        color: white;
    }

    .buttons {
        margin-top: 10px;
        width: 100px;
        border-radius: 20px;
    }
</style>





<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-style: italic;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Available Decorations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach (var item in ViewBag.DecorationOptions)
                    {
                        <div class="col-lg-12 col-sm-12">
                            <div class="hover10 column">
                                @if (item.decorimage != null)
                                {
                                    <img src="data:image;base64,@Convert.ToBase64String(item.decorimage)" alt="Decoration Image" class="img-fluid" id="main-img" />
                                }
                            </div>
                        </div>
                        <div class="card-title">
                            <p style="font-style: italic;">@item.decoravailable</p>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary buttons" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-style:italic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Available Themes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach (var item in ViewBag.ThemeOptions)
                    {
                        <div class="col-lg-12 col-sm-12">
                            <div class="hover10 column">

                                @if (item.themeimage != null)
                                {
                                    <img src="data:image;base64,@Convert.ToBase64String(item.themeimage)" alt="Decoration Image" class="img-fluid" id="main-img" width="330%" />
                                }
                            </div>
                        </div>
                        <div class="card-title">
                            <p style="font-style:italic">@item.themename</p>
                        </div>

                    }
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary buttons" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>




<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-style:italic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Available Cakes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach (var item in ViewBag.CakeOptions)
                    {
                        <div class="col-lg-12 col-sm-12">
                            <div class="hover10 column">

                                @if (item.cakeimage != null)
                                {
                                    <img src="data:image;base64,@Convert.ToBase64String(item.cakeimage)" alt="Cakes Image" class="img-fluid" id="main-img" width="330%" />
                                }
                            </div>
                        </div>
                        <div class="card-title">
                            <p style="font-style:italic">@item.cakesavailable</p>
                        </div>

                    }
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>




<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-style:italic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Available Locations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    @foreach (var item in ViewBag.LocationOptions)
                    {
                        <div class="col-lg-12 col-sm-12">
                            <div class="hover10 column">

                                @if (item.locationimage != null)
                                {
                                    <img src="data:image;base64,@Convert.ToBase64String(item.locationimage)" alt="Location Image" class="img-fluid" id="main-img" width="330%" />
                                }
                            </div>
                        </div>
                        <div class="card-title">
                            <p style="font-style:italic">@item.locationname</p>
                        </div>

                    }
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary buttons" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
