@model EventManagement.Models.Usertable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usertable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TConfirmPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TConfirmPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLoginDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TProfife)
        </dt>

        <dd>
            <img src="data:image;base64,@Convert.ToBase64String(Model.TProfife)" alt="Employee Image" width="70" />
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Roletable.TRolename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roletable.TRolename)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TUserid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
