@model IEnumerable<EventManagement.Models.Usertable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TUserid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TUsername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TConfirmPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TProfile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRoleid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TUserid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TUsername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TConfirmPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginDate)
        </td>
        <td>
            @if (item.TProfile != null)
            {
                <img src="data:image;base64,@Convert.ToBase64String(item.TProfile)" alt="Employee Image" width="70" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRoleid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
