@using CaptchaMvc.HtmlHelpers

@model EventManagement.Models.Usertable

@{
    ViewBag.Title = "Register";
    Layout = null;
}



<script src="https://kit.fontawesome.com/91232b44e6.js" crossorigin="anonymous"></script>

<div class="row" id="main-row">
    <div class="col-md-4">
        <div class="main-w3l maindiv">
            <div class="w3layouts-main text-center">
                <h2>Register Now</h2>
                @using (Html.BeginForm("Register", "Authendication", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))

                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TUsername, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your Username" } })
                            @Html.ValidationMessageFor(model => model.TUsername, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your Email" } })
                            @Html.ValidationMessageFor(model => model.TEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your Password", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.TPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm your password", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.TConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TMobile, new { htmlAttributes = new { @class = "form-control ", @placeholder = "Enter your Mobile no ", @type = "text" } })
                            @Html.ValidationMessageFor(model => model.TMobile, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group pt-5">
                        <div class="col-md-10 ">
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.TGender, "Female") Female
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.TGender, "Male") Male
                            </label>
                            <label class="radio-inline">
                                @Html.RadioButtonFor(model => model.TGender, "Other") Other
                            </label>
                            @Html.ValidationMessageFor(model => model.TGender, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TAge, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your Age" } })
                            @Html.ValidationMessageFor(model => model.TAge, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TDob, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your Birthdate" } })
                            @Html.ValidationMessageFor(model => model.TDob, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10" id="TProfile">
                            <input type="file" name="TProfile" id="image" class="form-control" />
                            @Html.ValidationMessageFor(model => model.TProfile, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.Label("Security Code:", new { @class = "col md-2 control label security" })
                        <div class="col-md-10">
                            @Html.Captcha("Refresh", "Enter the code you see above", 9, "Is required field")
                            <br />
                            <p class="text-danger">@ViewBag.ErrorMessage</p>
                        </div>
                    </div>



                    @Html.ActionLink("Have an Account ? Login", "Login", "Authendication", new { @style = "color:black;text-decoration:none;font-size:15px" })
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10" id="buttons">
                            <button type="submit" value="Create" class="custom-btn btn-2" id="createtoast">Connect</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(document).ready(function () {
            $("#CaptchaInputText").addClass("form-control");
        })
    </script>



    <script type="text/javascript">
        $(function () {
            $("#createtoast").click(function () {
                toastr.success("Registered", "Create", { Timeout: 4000 });
            });
        })
    </script>
}


<style>
    body {
        background-image: url(/Assets/roses.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .field-validation-error {
        color: red;
    }

    .security {
        font-weight: bold;
    }

    .maindiv {
        width: fit-content;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        box-shadow: inset 0 0 0 200px rgba(255,255,255,0.08);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    #buttons {
        margin-top: 10px;
    }

    #main-row {
        margin-top: 3em;
    }

    .form-control::placeholder {
        color: deeppink;
    }

    .form-control {
        padding: 1.5em 0;
        background-color: transparent;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom-color: black;
        outline: none;
        width: 130%;
    }

    .custom-btn {
        width: 100%;
        height: 33px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
    }

    .btn-2 {
        background-color: black;
        border: none;
    }

        .btn-2:before {
            height: 0%;
            width: 2px;
        }

        .btn-2:hover {
            box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5), -4px -4px 6px 0 rgba(116, 125, 136, .5), inset -4px -4px 6px 0 rgba(255,255,255,.2), inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
        }

    #TProfife {
        margin-top: 20px;
        height: 45px;
        justify-content: center;
        padding-left: 80px;
    }

    #image {
        padding-left: 10px;
        color: deeppink;
    }
</style>
