@model EventManagement.Models.babyshowertable

@{
    ViewBag.Title = "BabyshowerCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5 pt-5  ps-5 pe-5" style="background-color: #4d004d;color:white">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4 style="font-style:italic">Reserve an Babyshower Celebration</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerdecorations, "Find Your Decor Style", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("babyshowerdecorations", ViewBag.Decor as SelectList, "Decor", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.babyshowerdecorations, "", new { @class = "text-danger" })
            </div>
        </div>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="color:white;background-color:black;width:250px;font-style:italic">
            View decorations
        </button>
        <div class="form-group">
            @Html.LabelFor(model => model.babyshowertheme, "Decide on Your  Theme", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("babyshowertheme", ViewBag.Theme as SelectList, "Themes", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.babyshowertheme, "", new { @class = "text-danger" })
            </div>
        </div>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="color:white;background-color:black;width:250px;font-style:italic">
            View Themes
        </button>

        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerchairs, "Select the chairs", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.babyshowerchairs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.babyshowerchairs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.babyshowertables, "Select the tables", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.babyshowertables, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.babyshowertables, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerdatetime, "Pick your date and time", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.babyshowerdatetime, new { htmlAttributes = new { @class = "form-control datepicker" } })*@
                <input type="datetime-local" class="" name="babyshowerdatetime" />
                @Html.ValidationMessageFor(model => model.babyshowerdatetime, "", new { @class = "text-danger" })
            </div>
        </div>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="color:white;background-color:black;width:250px;font-style:italic">
            View Cakes
        </button>
        <div class="form-group">
            @Html.LabelFor(model => model.babyshowercakes, "Pick Your Dessert Delight", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("babyshowercakes", ViewBag.Cake as SelectList, "Cakes ", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.babyshowercakes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerlocation, "Select your favv location", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("babyshowerlocation", ViewBag.Location as SelectList, "Locations", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.babyshowerlocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal3" style="color:white;background-color:black;width:250px;font-style:italic">
            View Locations
        </button>

        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerbeverages, "Do you require food selection?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.babyshowerbeverages)
                    @Html.ValidationMessageFor(model => model.babyshowerbeverages, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 pb-5">
                <input type="submit" value="Curate your Babyshower event" class="btn btn-default" style="color:white;background-color:black;width:250px;font-style:italic" />
            </div>
        </div>
    </div>
    }
</div>
  

    <script>
        var today = new Date().toISOString().slice(0, 16);
        document.getElementsByName("babyshowerdatetime")[0].min = today;
    </script>




    <style>
        .control-label {
            font-style: italic;
            margin-top: 10px;
        }

        .form-group {
            margin-top: 30px;
            color: white;
        }
    </style>




    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-style:italic">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Available Decorations</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @foreach (var item in ViewBag.DecorationOptions)
                        {
                            <div class="col-lg-4">
                                <div class="hover10 column">

                                    @if (item.decorimage != null)
                                    {
                                        <img src="data:image;base64,@Convert.ToBase64String(item.decorimage)" alt="Decoration Image" id="main-img" width="330%" />
                                    }
                                </div>
                            </div>
                            <div class="card-title">
                                <p style="font-style:italic">@item.decoravailable</p>
                            </div>

                        }
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>




    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-style:italic">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Available Decorations</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @foreach (var item in ViewBag.ThemeOptions)
                        {
                            <div class="col-lg-4">
                                <div class="hover10 column">

                                    @if (item.themeimage != null)
                                    {
                                        <img src="data:image;base64,@Convert.ToBase64String(item.themeimage)" alt="Decoration Image" id="main-img" width="330%" />
                                    }
                                </div>
                            </div>
                            <div class="card-title">
                                <p style="font-style:italic">@item.themename</p>
                            </div>

                        }
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>




    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-style:italic">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Available Decorations</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @foreach (var item in ViewBag.CakeOptions)
                        {
                            <div class="col-lg-4">
                                <div class="hover10 column">

                                    @if (item.cakeimage != null)
                                    {
                                        <img src="data:image;base64,@Convert.ToBase64String(item.cakeimage)" alt="Decoration Image" id="main-img" width="330%" />
                                    }
                                </div>
                            </div>
                            <div class="card-title">
                                <p style="font-style:italic">@item.cakesavailable</p>
                            </div>

                        }
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>




    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="font-style:italic">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Available Decorations</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        @foreach (var item in ViewBag.LocationOptions)
                        {
                            <div class="col-lg-4">
                                <div class="hover10 column">

                                    @if (item.locationimage != null)
                                    {
                                        <img src="data:image;base64,@Convert.ToBase64String(item.locationimage)" alt="Decoration Image" id="main-img" width="330%" />
                                    }
                                </div>
                            </div>
                            <div class="card-title">
                                <p style="font-style:italic">@item.locationname</p>
                            </div>

                        }
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
