@model EventManagement.Models.babyshowertable

@{
    ViewBag.Title = "BabyshowerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BabyshowerDetails</h2>

<div>
    <h4>babyshowertable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.babyshowerchairs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.babyshowerchairs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.babyshowertables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.babyshowertables)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.babyshowerhallcapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.babyshowerhallcapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.babyshowereventcost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.babyshowereventcost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.babyshowerbeverages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.babyshowerbeverages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usertable.TUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usertable.TUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName.eventname1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName.eventname1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.decorationtable.decoravailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.decorationtable.decoravailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.themetable.themename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.themetable.themename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetable.datesavailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetable.datesavailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timetable.timesavailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timetable.timesavailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caketable.cakesavailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caketable.cakesavailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locationtable.locationname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locationtable.locationname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
