@model EventManagement.Models.babyshowertable

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>babyshowertable</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        @Html.HiddenFor(model => model.babyshowerid)
        @Html.HiddenFor(model => model.babyshoweruserid)
        @Html.HiddenFor(model => model.babyshowereventcost)
        @Html.HiddenFor(model => model.babyshowerhallcapacity)


        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerdecorations, "babyshowerdecorations", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("babyshowerdecorations", ViewBag.Decor as SelectList, "Decor", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.babyshowerdecorations, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.babyshowertheme, "babyshowertheme", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("babyshowertheme", ViewBag.Theme as SelectList, "Themes", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.babyshowertheme, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerchairs, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.babyshowerchairs, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.babyshowerchairs, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.babyshowertables, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.babyshowertables, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.babyshowertables, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerdatetime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.babyshowerdatetime, new { htmlAttributes = new { @class = "form-control datepicker" } })*@
                <input type="datetime-local" class="" name="babyshowerdatetime" />
                @Html.ValidationMessageFor(model => model.babyshowerdatetime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.babyshowercakes, "babyshowercakes", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("babyshowercakes", ViewBag.Cake as SelectList, "Cakes ", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.babyshowercakes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerlocation, "babyshowerlocation", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("babyshowerlocation", ViewBag.Location as SelectList, "Locations", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.babyshowerlocation, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.babyshowerbeverages, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.babyshowerbeverages)
                    @Html.ValidationMessageFor(model => model.babyshowerbeverages, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>
    var today = new Date().toISOString().slice(0, 16);
    document.getElementsByName("babyshowerdatetime")[0].min = today;
</script>
