@model EventManagement.Models.Wedding

@{
    ViewBag.Title = "WeddingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WeddingDetails</h2>

<div>
    <h4>Wedding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.weddingchairs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddingchairs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weddingtables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddingtables)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weddinghallcapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddinghallcapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weddingeventcost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddingeventcost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weddingbeverages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddingbeverages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weddingPhotography)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddingPhotography)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weddingStyling)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddingStyling)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weddingHospitality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddingHospitality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caketable.cakesavailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caketable.cakesavailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weddingdatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddingdatetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.weddingtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weddingtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.decorationtable.decoravailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.decorationtable.decoravailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName.eventname1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName.eventname1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locationtable.locationname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locationtable.locationname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.themetable.themename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.themetable.themename)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Usertable.TUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usertable.TUsername)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("if u want to Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
