@model EventManagement.Models.Wedding

@{
    ViewBag.Title = "WeddingDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WeddingDetails</h2>

<div style="background-color: #4d004d; color: white; font-style: italic;" class="container mt-5 pt-5">
    <h4 style="font-weight: bold;">Wedding</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span style="font-weight: bold;">Chairs</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weddingchairs)
        </dd>

        <dt>
            <span style="font-weight: bold;">Tables</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weddingtables)
        </dd>

        <dt>
            <span style="font-weight: bold;">Hall Capacity</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weddinghallcapacity)
        </dd>

        <dt>
            <span style="font-weight: bold;">Event Cost</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weddingeventcost)
        </dd>

        <dt>
            <span style="font-weight: bold;">Beverages</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weddingbeverages)
        </dd>

        <dt>
            <span style="font-weight: bold;">Photography</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weddingPhotography)
        </dd>

        <dt>
            <span style="font-weight: bold;">Styling</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weddingStyling)
        </dd>

        <dt>
            <span style="font-weight: bold;">Hospitality</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weddingHospitality)
        </dd>

        <dt>
            <span style="font-weight: bold;">Cakes</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.caketable.cakesavailable)
        </dd>

        <dt>
            <span style="font-weight: bold;">Date and Time</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weddingdatetime)
        </dd>

        <dt>
            <span style="font-weight: bold;">Event Name</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName.eventname1)
        </dd>

        <dt>
            <span style="font-weight: bold;">Location</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locationtable.locationname)
        </dd>

        <dt>
            <span style="font-weight: bold;">Theme</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.themetable.themename)
        </dd>

        <dt>
            <span style="font-weight: bold;">Username</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usertable.TUsername)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
