@model EventManagement.Models.BachelorParty

@{
    ViewBag.Title = "BachelorDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color: #4d004d; color: white; font-style: italic;" class="container mt-5 pt-5">
    <h4 style="font-weight: bold;">BachelorParty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span style="font-weight: bold;">Chairs</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bachelorchairs)
        </dd>

        <dt>
            <span style="font-weight: bold;">Tables</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bachelortables)
        </dd>

        <dt>
            <span style="font-weight: bold;">Hall Capacity</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bachelorhallcapacity)
        </dd>

        <dt>
            <span style="font-weight: bold;">Event Cost</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bacheloreventcost)
        </dd>

        <dt>
            <span style="font-weight: bold;">Beverages</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bachelorbeverages)
        </dd>

        <dt>
            <span style="font-weight: bold;">Username</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Usertable.TUsername)
        </dd>

        <dt>
            <span style="font-weight: bold;">Event Name</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName.eventname1)
        </dd>

        <dt>
            <span style="font-weight: bold;">Decorations</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.decorationtable.decoravailable)
        </dd>

        <dt>
            <span style="font-weight: bold;">Theme</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.themetable.themename)
        </dd>

        <dt>
            <span style="font-weight: bold;">Date and Time</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.bachelordatetime)
        </dd>

        <dt>
            <span style="font-weight: bold;">Cakes</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.caketable.cakesavailable)
        </dd>

        <dt>
            <span style="font-weight: bold;">Location</span>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.locationtable.locationname)
        </dd>
    </dl>

    <a href="@Url.Action("Edit", new { id = Model.id })">
        <i class="fa-solid fa-pen-to-square fa-lg" style="color:cornflowerblue;margin-bottom:10px"></i>
    </a>
</div>
