@model IEnumerable<EventManagement.Models.EventName>

@{
    ViewBag.Title = "EventsName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EventsName</h2>

<p>
    @Html.ActionLink("Create New", "EventsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eventname1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventimage)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.eventname1)
            </td>
            <td>
                @if (item.eventimage != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(item.eventimage)" alt="Employee Image" width="70" />
                }
            </td>
            <td>
                @Html.ActionLink("BookNow", "EventDirect", new { @eventid = item.eventid })
            </td>
        </tr>
    }

</table>
