@model IEnumerable<EventManagement.Models.eventstable>

@{
    ViewBag.Title = "EventsName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EventsName</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventname)
        </th>
        <th>
            Booking
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventname)
        </td>
        <td>
            @Html.ActionLink("Book Now", "BookNow")
        </td>
    </tr>
}

</table>
