@model IPagedList<EventManagement.Models.EventName>

@{
    ViewBag.Title = "EventsName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;






<div class="container-fluid">
    <div class="row">
        <div class="section-2 p-0">
            <video playsinline autoplay muted loop poster="" id="home-bg-video" width="100%" height="600vh">
                <source src="~/Assets/pexels-vlada-karpovich-7150167 (2160p).mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>







<div class="container-fluid text-center mb-n5">
    <div class="row">
        <div class="col-12">
            <img src="~/Assets/P.gif" width="20%" />
            <p style="font-style:italic;font-size:20px;">Welcome to the beating heart of our event, Pulse! Let the rhythm of excitement guide you through this incredible journey</p>
        </div>
    </div>
</div>




@using (Html.BeginForm("EventsName", "Events", FormMethod.Get, new { id = "search-form" }))
{
    <div class="wrapper">
        <div class="searchBar ps-5">
            <input id="search" type="text" name="search" placeholder="Enter Event Name..." value="" style="font-style:italic"/>
            <button id="submit" type="submit" name="submit">
                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                    <path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
                </svg>
            </button>
        </div>
    </div>
}

<div class="container mt-5 main">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <div class="card mt-5 mb-3">
                    <div class="card-img-top">
                        <div class="hover10 column">

                            @if (item.eventimage != null)
                            {

                                <a href="@Url.Action("EventDirect",new { @eventid = item.eventid  } )" class="nav-link text-center">
                                    <img src="data:image;base64,@Convert.ToBase64String(item.eventimage)" alt="Employee Image" id="main-img" />
                                </a>

                            }
                        </div>
                        <div class="card-img-overlay">
                            <div class="card-title">
                                @Html.DisplayFor(modelItem => item.eventname1)
                                @Html.ActionLink("BookNow", "EventDirect", new { @eventid = item.eventid }, new { @style = "color:#4d004e;text-decoration:none;font-weight:bold;" })
                            </div>
                            <div class="card-text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


<div class="pagination-container mt-5" style="display: flex; justify-content: center;">
    <ul class="pagination">

        @for (int i = 1; i <= Model.PageSize; i++)
        {
            <li class="@(i == Model.PageNumber ? "active" : "")">
                @Html.ActionLink(i.ToString(), "EventsName", new { page = i }, new { @class = "page-link" })
            </li>
        }

    </ul>
</div>




<style>
    .card-img-overlay {
        margin-top: 7.5em;
    }

    .card-title {
        font-style: italic;
        padding: 5em 2em 0 .5em;
        margin-left: .4em;
    }

    #home-bg-video {
        object-fit: cover;
    }

    #main-img {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }

    .wrapper {
        width: 100%;
        max-width: 31.25rem;
        margin: 6rem auto;
    }

    .label {
        font-size: .625rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: +1.3px;
        margin-bottom: 1rem;
    }

    .searchBar {
        width: 150%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #search {
        width: 100%;
        height: 2.8rem;
        background: #f5f5f5;
        outline: none;
        border: none;
        border-radius: 1.625rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;
    }

    #submit {
        width: 3.5rem;
        height: 2.8rem;
        margin-left: -3.5rem;
        background: none;
        border: none;
        outline: none;
    }

        #submit:hover {
            cursor: pointer;
        }

    .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
    }
    /* 12 */
    .btn-12 {
        position: relative;
        right: 20px;
        bottom: 20px;
        border: none;
        box-shadow: none;
        width: 130px;
        height: 40px;
        line-height: 42px;
        -webkit-perspective: 230px;
        perspective: 230px;
    }

        .btn-12 span {
            background: rgb(0,172,238);
            background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
            display: block;
            position: absolute;
            width: 130px;
            height: 40px;
            box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
            border-radius: 5px;
            margin: 0;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

            .btn-12 span:nth-child(1) {
                box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
                -webkit-transform: rotateX(90deg);
                -moz-transform: rotateX(90deg);
                transform: rotateX(90deg);
                -webkit-transform-origin: 50% 50% -20px;
                -moz-transform-origin: 50% 50% -20px;
                transform-origin: 50% 50% -20px;
            }

            .btn-12 span:nth-child(2) {
                -webkit-transform: rotateX(0deg);
                -moz-transform: rotateX(0deg);
                transform: rotateX(0deg);
                -webkit-transform-origin: 50% 50% -20px;
                -moz-transform-origin: 50% 50% -20px;
                transform-origin: 50% 50% -20px;
            }

        .btn-12:hover span:nth-child(1) {
            box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
        }

        .btn-12:hover span:nth-child(2) {
            box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
            color: transparent;
            -webkit-transform: rotateX(-90deg);
            -moz-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
        }
</style>


