@model IEnumerable<EventManagement.Models.EventName>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create", "EventsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eventname1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventimage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eventname1)
        </td>
        <td>
            @if (item.eventimage != null)
            {
                <img src="data:image;base64,@Convert.ToBase64String(item.eventimage)" alt="Employee Image" width="70" />
            }
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.eventd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.eventid }) |
            @Html.ActionLink("Details", "Details", new { id = item.eventid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.eventid })
        </td>
    </tr>
}

</table>
