@model EventManagement.Models.datetable

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="color: #014E00;font-style:italic;">

    <h2 class="text-center mt-3">Details</h2>

    <div>
        <h4>datetable</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.datesavailable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.datesavailable)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.dated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.dated)
            </dd>

        </dl>
    </div>
    <p>
        <a href="@Url.Action("Edit",  new { id= Model.dateid })">
            <i class="fa-solid fa-pen-to-square" style="color:#4d004e;"></i>
        </a> |
        @Html.ActionLink("Back", "Index")
    </p>

</div>
