@model IEnumerable<EventManagement.Models.datetable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="color: #014E00;font-style:italic;">


    <h2 class="text-center mt-3" >Date Table</h2>

    <p>

        <a href="@Url.Action("DateCreate")">
            <i class="fa-solid fa-plus" style="color:#4d004e;"></i>
        </a>

    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datesavailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dated)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.datesavailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dated)
                </td>
                <td>
                    <a href="@Url.Action("Edit",  new { id=item.dateid })">
                        <i class="fa-solid fa-pen-to-square" style="color:#4d004e;"></i>
                    </a> |
                    <a href="@Url.Action("Details", new { id=item.dateid })">
                        <i class="fa-solid fa-circle-info" style="color:#4d004e;"></i>
                    </a> |
                    <a href="@Url.Action("Delete", new { id=item.dateid })">
                        <i class="fa-solid fa-trash" style="color:#4d004e;"></i>
                    </a>
                </td>
            </tr>
        }

    </table>

</div>
