@model IEnumerable<EventManagement.Models.timetable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "TimeCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.timesavailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.timesavailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.timeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.timeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.timeid })
        </td>
    </tr>
}

</table>
