@model IEnumerable<EventManagement.Models.locationtable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "LocationCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.locationname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pincode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locationd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.locationimage)
        </th>
        <th>options</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.locationname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.locationd)
        </td>
        <td>
            @if (item.locationimage != null)
            {
                <img src="data:image;base64,@Convert.ToBase64String(item.locationimage)" alt="Employee Image" width="70" />
            }
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.locationid }) |
            @Html.ActionLink("Details", "Details", new { id = item.locationid }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.locationid })
        </td>
    </tr>
}

</table>
