@model EventManagement.Models.locationtable

@{
    ViewBag.Title = "LocationCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LocationCreate</h2>

@using (Html.BeginForm("LocationCreate", "Location", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>locationtable</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.locationname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.locationname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.locationname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pincode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pincode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pincode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.locationd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.locationd)
                    @Html.ValidationMessageFor(model => model.locationd, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.locationimage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="locationimage" name="locationimage" class="form-control" />
                @Html.ValidationMessageFor(model => model.locationimage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="createtoast" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>





    <script type="text/javascript">
      $(function () {
          $("#createtoast").click(function () {
              toastr.success("Successfully Created", "Create", { Timeout: 4000 });
          });
      })
    </script>

