<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/91232b44e6.js" crossorigin="anonymous"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="container-fluid" style=" background-color: #4d004e;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark container">
            <div class="section-2 navbar-brand">
                <img src="~/Assets/eventpulse.png" width="50%">
            </div>
            <div class="container">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @Html.ActionLink("Date", "Index", "Date", null, new { @class = "nav-link text-center" })
                            @Html.ActionLink("Time", "Index", "Time", null, new { @class = "nav-link text-center" })
                            @Html.ActionLink("Theme", "Index", "Theme", null, new { @class = "nav-link text-center" })
                            @Html.ActionLink("Location", "Index", "Location", null, new { @class = "nav-link text-center" })
                            @Html.ActionLink("Decoration", "Index", "Decoration", null, new { @class = "nav-link text-center" })
                            @Html.ActionLink("EventDetails", "Index", "Events", null, new { @class = "nav-link text-center" })
                            @Html.ActionLink("Cake", "Index", "Cake", null, new { @class = "nav-link text-center" })
                        </ul>
                    </div>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                {
                    <div class="collapse navbar-collapse d-sm-inline-flex ">
                        <ul class="navbar-nav flex-grow-1 text-white">
                            @Html.ActionLink("User", "EventsName", "Events", null, new { @class = "nav-link text-center", @style = "float:right" })
                            @Html.ActionLink("Cart", "Index1", "Cart", null, new { @class = "nav-link text-center", @style = "float:right" })

                        </ul>
                    </div>
                }

                @Html.ActionLink("Logout", "Logout", "Authendication", null, new { @class = "nav-link text-center text-white" })
            </div>
        </nav>
    </div>
    <div class="">
        @RenderBody()

        <div class="container-fluid p-0 mt-5">

            <div class="row align-items-center" style="background-color: #4d004e;">
                <div class="col-6">
                    <p style="font-style:italic;color:white;font-size:18px" class="text-center">follow us on</p>
                    <div class="container d-flex justify-content-center pt-3">
                        <button type="button" class="btn  btn-lg btn-floating mx-2" style="background-color: black; color: white; border-radius: 10px">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                        <button type="button" class="btn btn-lg btn-floating mx-2" style="background-color: black; color: white; border-radius: 10px ">
                            <i class="fab fa-youtube"></i>
                        </button>
                        <button type="button" class="btn  btn-lg btn-floating mx-2" style="background-color: black; color: white; border-radius: 10px ">
                            <i class="fab fa-instagram"></i>
                        </button>
                        <button type="button" class="btn  btn-lg btn-floating mx-2" style="background-color: black; color: white; border-radius: 10px ">
                            <i class="fab fa-twitter"></i>
                        </button>
                    </div>
                </div>
                <div class="col-6">
                    <div class="section-2 navbar-brand d-flex justify-content-center mt-5">
                        <img src="~/Assets/ezgif.com-crop.gif" width="23%">
                    </div>
                </div>

                <div class="text-center text-white p-3" style="background-color: #4d004e; font-size: 13px;font-style:italic">
                    © 2020 Copyright: EventPulse
                </div>
            </div>
        </div>




        <style>
            body {
                overflow-x: hidden;
            }

            ul {
                margin: 0px;
                padding: 0px;
            }

            .navbar {
                background-color: #4d004e;
            }
        </style>


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


