@model EventManagement.Models.birthdaytable

@{
    ViewBag.Title = "BirthdayDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BirthdayDetails</h2>

<div>
    <h4>birthdaytable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bdaychairs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bdaychairs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bdaytables)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bdaytables)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bdayhallcapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bdayhallcapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bdayeventcost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bdayeventcost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bdaybeverages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bdaybeverages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.caketable.cakesavailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.caketable.cakesavailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.decorationtable.decoravailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.decorationtable.decoravailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetable.datesavailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetable.datesavailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName.eventname1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName.eventname1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.locationtable.locationname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.locationtable.locationname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.themetable.themename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.themetable.themename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timetable.timesavailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timetable.timesavailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usertable.TUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usertable.TUsername)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
